@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html{
  background-color: rgb(88, 88, 88);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  background: beige;
  max-width: 500px;
  max-height: 650px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(187, 187, 187);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 5px 20px 5px black;
}

.header {
  background: beige;
  color: rgb(88, 88, 88);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: rgb(88, 88, 88);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:hover {
  background: black;
}

.btn:active, .btn-close:active {
  transform: scale(0.95);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-logout{
  display: flex;
  justify-content: flex-end;
}

.btn-close {
  display: inline-block;
  background: rgb(200, 0, 0);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-close:hover{
  background-color: brown;
}

.task {
  border-radius: 10px;
  border: 4px solid rgb(88, 88, 88);
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 8px solid green;
  color: rgb(160, 160, 160) !important;
  /* text-decoration: line-through; */
}

.task h3, .task p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task p{
  font-size: 22px;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 5px;
}

/* .form-control input[type=submit]:hover{
  background-color: black;
} */

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 10px;
  text-align: center;
}

.error{
  color: red;
}

::-webkit-scrollbar {
  width: 7px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}